<html>
  <head>
    <title>TweetMap</title>
  </head>
  <body>
    <div>TweetMap: <a href="/index">Home</a> | <a href="/collect">Collect Data</a></div>
    <hr>
    <h1>TweetMap Sentiment Analyzer</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block form %}{% endblock %}
    <div>
      {% if sent_data %}
      <ul>
        {% for state in sent_data %}
        <li>{{ state }} :: {{ sent_data[state] }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>